*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    padding: 50px;
}

h3{
    text-align: center;
}
.result-sheet{
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.mark-row{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.button-container{
    display: flex;
    justify-content: end;
    padding-top: 10px;
}
#average-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#delete-button{
    border-color: rgb(223, 148, 148);
    cursor: pointer;
}

#add-button{
    border-color: rgb(152, 152, 206);
    cursor: pointer;
}

#average-button{
    border-color: rgb(99, 136, 99);
    cursor: pointer;
}